<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="CSS/style.css">
	
</head>
<body>
	<div>
		<h1><a href="/"> Django</a></h1>
	</div>

	<div>
		<p>pubpished:10.01.2020,17.05</p>
		<h2><a href="">my second post</a></h2>
		<p>Lorem ipsum dolor sit amet consectetur
		 adipisicing elit. Voluptatibus voluptates 
		 necessitatibus atque excepturi? Amet dolores 
		 placeat dicta aliquid consequuntur delectus.</p>
	</div>
	
</body>
</html>